:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --key-color: #0f766e;
  --timesig-color: #b45309;

  --sans: 'Noto Sans JP', sans-serif;
  --mono: 'Roboto Mono', monospace;

  font: 16px/1.5 var(--sans);
  color-scheme: light dark;
  color: var(--text-h);
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --key-color: #2dd4bf;
    --timesig-color: #fbbf24;
  }
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--text-h);
  font-weight: 600;
}
